.detail{
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #ece5e5;
}
.btn_back{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn_back:hover {
    background-color: #34495e;
}
.btn_update{
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn_update:hover {
    background-color: #3498db;
}
.btn_delete{
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
}
.btn_delete:hover {
    background-color: #e74c3c;
}

/* update the thing in database */

.update{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    box-shadow: #0000006b 0 0 10px;
    position: relative;
}
.update form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.update form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid #ffffff;
    width: 90%;
    outline: none;
    box-shadow: #222c366e 0px 1px 3px;
}
.update form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid #ffffff;
    width: 90%;
    outline: none;
    box-shadow: #222c366e 0px 1px 3px;
}
#title:hover, #description:hover, #imageUrl:hover, #price:hover {
    border-bottom: 4px solid #2692ff69;  
}
.update form button {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.update form button:hover {
    background-color: #34495e;
    font-weight: 500;
}
.closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #c0392b;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: #0000006b 0 0 10px;
}
.closeModal:hover {
    background-color: #e74c3c;
    color: #fff;
}
.close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: fit-content;
}